<!--libft not authorized-->
 - valgrind -tool=helgrind "./philo" dataraces
philos death after clear
<!--timestamp not authorized -->
<!--time to die -->
error check of write
input parse
pthread init destoroy